.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  & h2 {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: $secondary-text-color;
  }
}

.partners {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;

  & .item {
    width: calc((100% - 2 * 15px) / 2);
  }

  & .item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

.company-icon {
  fill: $social-link-color;
  transition: $main-animation;

  .clients .item:hover &,
  .clients .item:focus & {
    fill: $hover-color;
  }
}

.clients .item-link {
  @include flex-align-justify;
  // width: calc((100% - 2 * 15px) / 2);
  height: 90px;

  transition: $main-animation;

  border: 1px solid #afb1b8;
  border-radius: $radius;

  &:hover,
  &:focus {
    border: 1px solid $hover-color;
  }
}
