.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  & h2 {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: $secondary-text-color;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
    }
  }
}

.partners {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  @media screen and (max-width: 767px) {
    & .item {
      width: calc((100% - 2 * 15px) / 2);
    }

    & .item:nth-child(-n + 4) {
      margin-bottom: 30px;
    }

    & .item:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-between;

    & .item {
      width: calc((100% - 2 * 30px) / 3);
    }

    & .item:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;

    & .item {
      width: calc((100% - 5 * 30px) / 6);
    }

    & .item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.company-icon {
  fill: $social-link-color;
  transition: $main-animation;

  .clients .item:hover &,
  .clients .item:focus & {
    fill: $hover-color;
  }
}

.clients .item-link {
  @include flex-align-justify;
  // width: calc((100% - 2 * 15px) / 2);
  height: 90px;

  transition: $main-animation;

  border: 1px solid #afb1b8;
  border-radius: $radius;

  &:hover,
  &:focus {
    border: 1px solid $hover-color;
  }
}
