.team {
  background-color: $secondary-background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  & .team-title {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: $secondary-text-color;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
    }
  }
}

.people-team {
  margin-top: 30px;

  @media screen and (max-width: 767px) {
    & .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }

  & .item {
    text-align: center;
    padding-bottom: 24px;

    background-color: $main-background-color;
    box-shadow: $shadow;
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 2 * 15px) / 2);

      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }

      &:nth-child(odd) {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 4);

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  & .foto {
    display: block;
    max-width: 450px;
    width: 100%;
  }

  & h3 {
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: $secondary-text-color;
  }

  & p {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.people-team .social-link {
  margin-top: 16px;
}

.social-link > a {
  @include flex-align-justify($display: inline-flex);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: $main-animation;

  .team &:hover,
  .team &:focus {
    background-color: $hover-color;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: $social-link-color;
  transition: $main-animation;

  .team a:hover &,
  .team a:focus & {
    fill: $main-background-color;
  }
}
