.our-works{
    padding-top: 94px;
    padding-bottom: 94px;

    & .item-title{
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: $secondary-text-color;
    
    }
}

.type-works{
    display: flex;
    margin-top: 50px;

    & .item{
        position: relative;
    }
    
    & img{
        display: block;
    }
    
    & .item:not(:last-child){
        margin-right: 30px;
    }
    
    & .description{
        position: absolute;
        bottom: 0;
        
        @include flex-align-justify;
        width: 370px;
        padding-top: 27px;
        padding-bottom: 27px;
        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: $main-background-color;
        background-color: rgba(47, 48, 58, 0.8);
    
    }
    
}
