// Утилитные классы для проекта
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: $main-text-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0em;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: white;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  //   outline: 1px solid orange;

  @media screen and (max-width: 767px) {
    max-width: 480px;
  }

  // @media screen and (min-width: 768px) and (max-width: 1169px){
  //     max-width: 768px;
  //     background-color: red;
  // }

  // @media screen and (min-width: 1170px) {
  //     max-width: 1170px;
  //     background-color: rebeccapurple;
  // }
}
